.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.App > * {
  border: solid 1px black;
}

nav {
  grid-column: 1/-1;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ProductList button {
  border-radius: 200px;
  width: 2rem;
  height: 2rem;
  border: solid 1px black;
  background-color: ghostwhite;
}
button:hover {
  cursor: pointer;
}

article .amount {
  display: inline;
  width: 2rem;
}

article {
  border-radius: 20px;
}
