.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.App > * {
  border: solid 1px black;
}

nav {
  grid-column: 1/-1;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
